/* Contenedor principal */
.px-20 {
  display: flex; /* Configura un diseño flexible para distribuir los elementos secundarios. */
  align-items: center; /* Alinea los elementos verticalmente al centro del contenedor. */
  justify-content: center; /* Alinea los elementos horizontalmente al centro del contenedor. */
  height: 100vh; /* Establece la altura del contenedor para ocupar toda la pantalla. */
  gap: 1rem; /* Define un espacio uniforme entre los elementos secundarios. */
  position: relative; /* Permite posicionar elementos secundarios de manera personalizada. */
}

/* Botón de alternancia de usuarios */
users-toggle-button {
  flex-shrink: 0; /* Evita que el botón cambie de tamaño al reducir el espacio disponible. */
  align-self: center; /* Alinea el botón al centro dentro del contenedor. */
  transform: translateY(-150px); /* Ajusta la posición vertical del botón. */
}

/* Formulario */
form {
  flex-grow: 1; /* Permite que el formulario use el espacio disponible restante. */
  max-width: 450px; /* Limita el ancho máximo del formulario para mantener un diseño legible. */
  transform: translateX(-100px); /* Ajusta la posición horizontal del formulario. */
}
