.px-20 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 1rem; 
    position: relative;
  }
  
  users-toggle-button {
    flex-shrink: 0;
    align-self: center;
    transform: translateY(-150px);
  }
  
  form {
    flex-grow: 1; 
    max-width: 450px; 
    transform: translateX(-100px); 
  }