<form [formGroup] = "forms" (ngSubmit) = "changePassword()" 
class = "max-w-md mx-auto p-10 mt-16 mb-14 rounded-lg shadow">

    <p class = "text-2xl text-center text-black font-extrabold">Cambiar contraseña</p>

    <div class = "mt-6 mb-4">
        <label class = "block text-sm font-medium text-gray-900 mb-1">Contraseña actual</label>
        <input type="password" class = "bg-gray-50 border border-gray-300 text-sm rounded-lg block w-full p-2.5 mb-1"
        [class.border-red-500] = "forms.get('currentPassword')?.invalid && forms.get('currentPassword')?.touched"
        placeholder = "•••••••••" formControlName = "currentPassword" required/>

        <div *ngIf = "forms.get('currentPassword')?.invalid && forms.get('currentPassword')?.touched">
            <p class= "text-red-500 text-sm font-normal">{{getFieldError("currentPassword")}}</p>
        </div>
    </div>

    <div class = "mb-4">
        <label class = "block text-sm font-medium text-gray-900 mb-1">Contraseña nueva</label>
        <input type="password" class = "bg-gray-50 border border-gray-300 text-sm rounded-lg block w-full p-2.5 mb-1"
        [class.border-red-500] = "forms.get('newPassword')?.invalid && forms.get('newPassword')?.touched"
        placeholder = "•••••••••" formControlName = "newPassword" required/>

        <div *ngIf = "forms.get('newPassword')?.invalid && forms.get('newPassword')?.touched">
            <p class= "text-red-500 text-sm font-normal">{{getFieldError("newPassword")}}</p>
        </div>
    </div>

    <div class = "mb-4">
        <label class = "block text-sm font-medium text-gray-900 mb-1">Confirmar contraseña</label>
        <input type="password" class = "bg-gray-50 border border-gray-300 text-sm rounded-lg block w-full p-2.5 mb-1"
        [class.border-red-500] = "forms.get('confirmPassword')?.invalid && forms.get('confirmPassword')?.touched"
        placeholder = "•••••••••" formControlName = "confirmPassword" required/>

        <div *ngIf = "forms.get('confirmPassword')?.invalid && forms.get('confirmPassword')?.touched">
            <p class= "text-red-500 text-sm font-normal">{{getFieldError("confirmPassword")}}</p>
        </div>
    </div>

    <button type = "submit" [disabled]="forms.invalid" [ngClass] = "{'cursor-not-allowed opacity-50': forms.invalid}"
    class = "text-white bg-blue-600 hover:bg-blue-700 font-medium rounded-lg text-base w-full sm:w-full py-2.5 text-center mt-4">
        Cambiar
    </button>
</form>